@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add / Create";
}
<div class="text-center">
    <h1 class="display-4">Create a new Club</h1>
    <a asp-asp-controller="Dashboard" asp-action="Clubs" class="btn btn-secondary">Clubs</a>
    <a asp-asp-controller="Dashboard" asp-action="CreateEdditClub" class="btn btn-secondary"></a>
</div>