@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @ViewData["Title"] = "Dashboard NewsFeed";
}
<section class="news_feed" id="news_feed">
    <div class="search_feed" id="search_feed">
        <form action="/" method="post">
            <fieldset>
                <input type="text" name="query_feed" id="query_feed" title="Suchfeld">
                <button type="submit" name="submit_search" id="submit_search" title="Suchen"><i class="icon-search icon-white"></i>Search</button>
            </fieldset>
        </form>
    </div>
    <div class="feed" id="feed">
        <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse deleniti debitis inventore. Debitis animi officiis libero veritatis expedita dolor eaque. Facere pariatur recusandae ad animi itaque quo dicta sequi iste.</article>
        <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse deleniti debitis inventore. Debitis animi officiis libero veritatis expedita dolor eaque. Facere pariatur recusandae ad animi itaque quo dicta sequi iste.</article>
        <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse deleniti debitis inventore. Debitis animi officiis libero veritatis expedita dolor eaque. Facere pariatur recusandae ad animi itaque quo dicta sequi iste.</article>
        <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse deleniti debitis inventore. Debitis animi officiis libero veritatis expedita dolor eaque. Facere pariatur recusandae ad animi itaque quo dicta sequi iste.</article>
        <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse deleniti debitis inventore. Debitis animi officiis libero veritatis expedita dolor eaque. Facere pariatur recusandae ad animi itaque quo dicta sequi iste.</article>
    </div>
</section>