@{
    ViewData["Title"] = "Home Page";
    string sectionName = "news_feed";    
}

<section class="function_menu" id="function_menu">
    <aside>
        <ul class="menu">
            <li class="menuitem">
                <a id="news_feed" asp-controller="DashboardController" asp-action="Dashboard">
                   <figure>
                        <img href="" alt="" width="50" height="50">
                        <figcaption>Feed</figcaption>
                        
                    </figure>     
                </a>
            </li>
            <li class="menuitem">
                <a id="clubs" asp-controller="DashboardController" asp-action="Clubs">
                    <figure>
                        <img href="" alt="" width="50" height="50">
                        <figcaption>Club</figcaption>
                    </figure>
                </a>
            </li>
            <li class="menuitem">
                <a id="account" asp-controller="DashboardController" asp-action="Account">
                    <figure>
                        <img href="" alt="" width="50" height="50">
                        <figcaption>Account</figcaption>
                    </figure>
                </a>     
            </li>
            <li class="menuitem">
                <a id="settings" asp-controller="DashboardController" asp-action="Settings">
                    <figure>
                        <img href="" alt="" width="50" height="50">
                        <figcaption>Settings</figcaption>
                    </figure>
                </a>
            </li>
        </ul>
    </aside>
</section>
@RenderSection(sectionName)
<section class="advertisment" id="advertisment">
    <aside>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas est quibusdam nesciunt amet, harum corrupti tenetur veniam qui reprehenderit dicta, eaque sunt dolore aut, suscipit tempora molestiae ipsa voluptatem explicabo.</aside>
    <aside>Enim quos fugit mollitia expedita nihil sed beatae. Cumque deleniti nam dolores cupiditate a voluptatem quasi doloribus aspernatur tempora, eius, atque dicta mollitia ex sed commodi debitis sit, optio distinctio.</aside>
</section>

