@{
    ViewData["Title"] = "Home Page";
}

 @* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>  *@


<div class="text-center container bg-light align-content-center">
    <section class="align-content-center container">
        <div class="align-self-center bg-white border-0 rounded w-50 h-10">
            <form action="/" method="post">
                
                <div class="d-inline-block">
                    <img class="rounded-circle" src="img\20260124_204749.jpg" alt="Alternate Text" width="50" height="50" sizes="50em, 50em" />
                </div>
                <input type="text" name="searchtext" placeholder="Finde deine Veranstalltung" value="" />
                <input type="submit" name="search" value="Suchen" />
            </form>
        </div>
        <div class="feed">
            <div class="feed-box">
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatem ipsam omnis nesciunt deleniti ratione maxime aliquid dolore, neque qui adipisci similique cumque pariatur iure, reiciendis illum ex ipsa harum?</article>
                    </div>
            <div class="feed-box">
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatem ipsam omnis nesciunt deleniti ratione maxime aliquid dolore, neque qui adipisci similique cumque pariatur iure, reiciendis illum ex ipsa harum?</article>
                        </div>
            <div class="feed-box">
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatem ipsam omnis nesciunt deleniti ratione maxime aliquid dolore, neque qui adipisci similique cumque pariatur iure, reiciendis illum ex ipsa harum?</article>
                    </div>
            <div class="feed-box">
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatem ipsam omnis nesciunt deleniti ratione maxime aliquid dolore, neque qui adipisci similique cumque pariatur iure, reiciendis illum ex ipsa harum?</article>
            </div>
            <div class="feed-box">
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatem ipsam omnis nesciunt deleniti ratione maxime aliquid dolore, neque qui adipisci similique cumque pariatur iure, reiciendis illum ex ipsa harum?</article>
            </div>
            <div class="feed-box">
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatem ipsam omnis nesciunt deleniti ratione maxime aliquid dolore, neque qui adipisci similique cumque pariatur iure, reiciendis illum ex ipsa harum?</article>
            </div>
            <div class="feed-box">
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatem ipsam omnis nesciunt deleniti ratione maxime aliquid dolore, neque qui adipisci similique cumque pariatur iure, reiciendis illum ex ipsa harum?</article>
            </div>
            <div class="feed-box">
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatem ipsam omnis nesciunt deleniti ratione maxime aliquid dolore, neque qui adipisci similique cumque pariatur iure, reiciendis illum ex ipsa harum?</article>
            </div>
            <div class="feed-box">
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatem ipsam omnis nesciunt deleniti ratione maxime aliquid dolore, neque qui adipisci similique cumque pariatur iure, reiciendis illum ex ipsa harum?</article>
            </div>
            <div class="feed-box">
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatem ipsam omnis nesciunt deleniti ratione maxime aliquid dolore, neque qui adipisci similique cumque pariatur iure, reiciendis illum ex ipsa harum?</article>
            </div>
            <div class="feed-box">
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatem ipsam omnis nesciunt deleniti ratione maxime aliquid dolore, neque qui adipisci similique cumque pariatur iure, reiciendis illum ex ipsa harum?</article>
            </div>
            <div class="feed-box">
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatem ipsam omnis nesciunt deleniti ratione maxime aliquid dolore, neque qui adipisci similique cumque pariatur iure, reiciendis illum ex ipsa harum?</article>
            </div>
            <div class="feed-box">
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatem ipsam omnis nesciunt deleniti ratione maxime aliquid dolore, neque qui adipisci similique cumque pariatur iure, reiciendis illum ex ipsa harum?</article>
            </div>
            <div class="feed-box">
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatem ipsam omnis nesciunt deleniti ratione maxime aliquid dolore, neque qui adipisci similique cumque pariatur iure, reiciendis illum ex ipsa harum?</article>
            </div>
            <div class="feed-box">
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatem ipsam omnis nesciunt deleniti ratione maxime aliquid dolore, neque qui adipisci similique cumque pariatur iure, reiciendis illum ex ipsa harum?</article>
            </div>
            <div class="feed-box">
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatem ipsam omnis nesciunt deleniti ratione maxime aliquid dolore, neque qui adipisci similique cumque pariatur iure, reiciendis illum ex ipsa harum?</article>
            </div>
            <div class="feed-box">
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptatem ipsam omnis nesciunt deleniti ratione maxime aliquid dolore, neque qui adipisci similique cumque pariatur iure, reiciendis illum ex ipsa harum?</article>
            </div>
        </div>
    </section>
</div>