@page
@model ClubFlow.Views.Home.LoginRegisterModel
@{
    ViewData["Title"] = "Login";
}

<section class="container-fluid">
    <div class="row">
        <section class="LoginRegistration">
            <div class="Login col-sm-6">
                <form id="login" runat="server">
                    <h4>Login</h4>
                    <p><asp:Literal runat"server" id=" StatusMessage">User Name</asp:Literal></p>
                </form>
            </div>
            <div class="registration col-sm-6">
                <h4>Registrierung</h4>
            </div>
        </section>
    </div>
</section>
