*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: hsl(246, 10%, 89%);
    ;
}

header {
    width: inherit;
    color: white;
    background-color: hsl(246, 86%, 23%);
}

main{
    width: inherit;
    display: flex;
    background-color:hsl(246, 10%, 89%);
}

footer {
    width: inherit;
    text-align: center;
    background-color: hsl(246, 86%, 23%);
    position: fixed;
}

a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: hsl(246, 10%, 89%);
}

a:active{
    color:orangered;
}

    a:visited {
        color: hsl(246, 10%, 89%);
    }

a:hover {
    color: orangered;
}


.default_navigation {
    display: flex;
    width:  inherit;
    justify-content: flex-start;
    flex-direction: row;
}

.user_navigation {
    display: flex;
    width: inherit;
    justify-content: flex-end;
    flex-direction: row;
}

.navitem {
    float: left;
    list-style-type: none;
}

.navitem a {
    display: flex;
    text-align: center;
    padding: 14px 16px;
}

.navitem a figure{
    text-align: center;
}

.functionmenu {
    display: flex;
    width: 10%;
    justify-content: center;
    background-color: hsl(246, 10%, 89%);;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu .menuitem{
    display: flex;
    justify-content: center;
    text-align: center;
}

.menuitem > a{
    display: block;
}

.news_feed{
    width: 70%;
    background-color: #383c47;
    color: white;
    border: 5px solid #383c47;
}

.feed_search, .feed{
    width: 100%;
    padding: 0.2em;
    margin: 0.2em;
}

.advertisment {
    width: 20%;
    padding: 1em;
    margin: 1em;
    justify-content: normal;
    color: white;
    border: 3px solid orangered;
    background-color: hsl(246, 86%, 23%);
}

.navbar-nav{
    flex-direction: row;
}

.nav-item {
    margin: 0 0.5em;
    padding: 0 0.5em;
}

.sidebanner {
    max-width: 200px;
    min-width: 25px;
    width: 20%;
    min-height: 200px;
    background-color: hsl(246, 86%, 23%);
    color: hsl(246, 20%, 90%);
    padding: 0.2em 0.4em;
    position: fixed;
}

.toggle_sidebanner {
    max-width: 25px;
    min-width: 25px;
    max-height: 25px;
    min-width: 25px;
    width: 20em;
    height: 20em;
    float: right;
    padding: 0;
    background-color: hsl(246, 86%, 23%);
    color: hsl(246, 20%, 90%);
}

.firstRegion {
    margin-top: 1.5em;
}

.data {
    visibility: hidden;
}

    .data.in {
        visibility: visible;
    }

#demo {
    width: 50px;
}


    #demo.in {
        width: 220px;
    }

#demo {
    display: inline-block;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
}